<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-8">
      <div class="jumbotron" style="height: 900px;">
        
      </div>
    </div>
    <div class="col-4">
      <div class="jumbotron" style="height: 805px; overflow-y:scroll;">
        <p *ngFor="let message of messages">{{message.user}}: {{message.text}}</p>
      </div>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" (click)="sendComment(comment.value)">Send</span>
        </div>
        <textarea #comment class="form-control" rows="2" aria-label="Comment"></textarea>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>